body {
	background-color: powderblue;
	font-family: verdana;
	text-align: center;
}
h1 {
	color: red;
	font-family: courier;
	text-align: center;
}
/* .my-link {
	color: blue;
	text-align: left;
	text-decoration: none;
}
.my-link:visited{
	color: green;
	text-align: left;
	text-decoration: none;
}
.my-link:hover {
	color: red;
	text-decoration: underline;
} */
